.card-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* margin: 0 auto; */
    padding: 5px auto;
}

@media (min-width: 768px) and (max-width: 1280px) {
    .card-list-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 5px auto;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

@media (max-width: 768px){
    .card-list-container {
        grid-template-columns: repeat(1, 1fr);
        
    }
}