.head-container {
    display: flex;
    padding: 30px;
}

.header {
    width: 100%;
}

.head-container .title {
    margin-left: 10px;
}

.logo-container .logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

@media (min-width: 810px) and (max-width: 1200px) {
    .head-container {
        width: 100%;

    }
}

