* {
  box-sizing: border-box;
}

.card-container {
  width: 390px;
  height: 250px;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 5px;
  transition: transform 0.25s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  -webkit-box-shadow: 2px 5px 17px 2px rgba(0, 0, 0, 0.73);
  box-shadow: 2px 5px 17px 2px rgba(0, 0, 0, 0.73);
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container h2 {
  text-align: center;
  height: auto;
}

.card-container .btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-container button {
  margin-right: 5px;
}

.btn-container .delete-btn {
  color: black;
  width: 20px;
  height: 30px;
}

.btn-container .delete-btn:hover {
  color: dimgray;
}

.btn-container .edit-btn {
  color: black;
  width: 20px;
  height: 30px;
}

.btn-container .edit-btn:hover {
  color: dimgray;
}
