*{
    box-sizing: border-box;
}

.card-container {
    width: 500px;
    height: 300px;
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 5px;
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-container h2 {
    text-align: center;
    height: auto;
}

