*{
    box-sizing: border-box;
}

.footer{
    width: 100%;
    height: 300px;
    /* align-content: center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    background: #E8E8E8;
    height: 70%;
    margin: 20px 30px;
    border-radius: 8px;
    justify-content: space-between;
    /* background-image: url('../../assets/background/background-2.svg'); */
    background-color: #E6E6E9;
}

.footer-container .idea-board-logo {
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
}

.footer-container .idea-board-logo .logo-container {
    padding: 0;
    padding-bottom: 1rem;
}

.logo-container .logo-footer {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 50%;
    
}

.footer-container p {
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0 0.5rem;
}

.footer-container .idea-board-logo h3 {
    text-align: center;
    align-self: center;
}

.footer-container .copywrite-container {
    height: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: 	#D3D3D3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #F4F4F6;
}

@media (max-width: 811px){
    .footer-container {
        height: 100%;
    }
        
}

@media (min-width: 810px) and (max-width: 1200px) {
    .footer-container {
        height: 80%;
    }
}