.App {
  padding: 0px auto;
  background-image: url("./assets/background/subtle-prism.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .App {
    
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .App {
    
  }
}
