.App {
  padding: 0px auto;
  background-image: url('./assets/background/subtle-prism.svg');
  
}

@media (max-width: 768px){
    .App {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

