.*{
    box-sizing: border-box;
}

.footer{
    width: 100%;
    height: 200px;
    align-content: center;
    text-align: center;
    
}

.footer-container {
    background-color: darkcyan;
    height: 100px;
    margin: 20px 30px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}