.title-container {
    display: flex;
    /* flex-direction: column; */
    gap: 3.2rem;
    margin-bottom: 5px;
}

.title-container input {
    width: 74%;
    border: none;
    border-bottom: 1px solid black;
    background-color:rgb(158, 234, 234);
}

.desc-container {
    display: flex;
    gap: 2px;
}

.desc-container textarea {
    border: none;
    resize: none;
    background-color:rgb(158, 234, 234);
    
}