*{
    box-sizing: border-box;
}

.title-container {
    display: flex;
    gap: 3.8rem;
    margin-bottom: 5px;
}

.title-container input {
    width: 73%;
    border: none;
    border-bottom: 1px solid black;
    background-color:rgb(158, 234, 234);
}

.desc-container {
    display: flex;
    gap: 2px;
}

.desc-container textarea {
    border: none;
    resize: none;
    background-color:rgb(158, 234, 234);
    
}

.btnContainer {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    
}

.btnContainer .btnSave {
    justify-self: flex-end;
}

.btnSave {
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btnSave:hover {
    color: dimgray;
}